@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.9rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #141414;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#social-buttons4-i .mbr-section-title,
#social-buttons4-i .btn-social {
  color: #fff;
}
#contacts1-9 P {
  color: #c0a375;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
}
#menu-d .link {
  font-size: 0.9rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #c0a375;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #141414;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#form1-g .form-control-label {
  color: #ffffff;
}
#form1-g SMALL {
  color: #ffffff;
}
#form1-g .mbr-section-title {
  color: #ffffff;
}
#header3-p .mbr-section-title,
#header3-p .mbr-section-subtitle {
  text-align: center;
}
#header3-p H3 {
  color: #ffffff;
  font-size: 48px;
}
#social-buttons4-r .mbr-section-title,
#social-buttons4-r .btn-social {
  color: #fff;
}
#contacts1-f P {
  color: #c0a375;
}
#msg-box8-13 .mbr-section-title,
#msg-box8-13 p {
  color: #fff;
}
#msg-box8-13 .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-11 .mbr-section-title,
#social-buttons4-11 .btn-social {
  color: #fff;
}
#menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-y .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-y .navbar-toggler {
  color: #ffffff;
}
#menu-y .link,
#menu-y .dropdown-item {
  color: #ffffff;
}
#menu-y .link {
  font-size: 0.9rem;
}
#menu-y .dropdown-item,
#menu-y .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-y .link:hover,
#menu-y .dropdown-item:hover,
#menu-y .link:focus,
#menu-y .dropdown-item:focus {
  color: #c0a375;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-menu {
  background: #141414;
}
#menu-y .nav-dropdown-sm .link:focus,
#menu-y .nav-dropdown-sm .link:hover,
#menu-y .nav-dropdown-sm .dropdown-item:focus,
#menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-y .navbar,
#menu-y .nav-dropdown-sm,
#menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-y .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-y .bg-color.transparent.opened .link:hover,
#menu-y .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-y .close-icon::before,
#menu-y .close-icon::after {
  background-color: #ffffff;
}
#contacts1-10 P {
  color: #c0a375;
}
#msg-box8-16 .mbr-section-title,
#msg-box8-16 p {
  color: #fff;
}
#msg-box8-16 .mbr-section-title {
  font-size: 46px;
}
#menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-17 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-17 .navbar-toggler {
  color: #ffffff;
}
#menu-17 .link,
#menu-17 .dropdown-item {
  color: #ffffff;
}
#menu-17 .link {
  font-size: 0.9rem;
}
#menu-17 .dropdown-item,
#menu-17 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-17 .link:hover,
#menu-17 .dropdown-item:hover,
#menu-17 .link:focus,
#menu-17 .dropdown-item:focus {
  color: #c0a375;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-menu {
  background: #141414;
}
#menu-17 .nav-dropdown-sm .link:focus,
#menu-17 .nav-dropdown-sm .link:hover,
#menu-17 .nav-dropdown-sm .dropdown-item:focus,
#menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-17 .navbar,
#menu-17 .nav-dropdown-sm,
#menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-17 .bg-color.transparent.opened .link:hover,
#menu-17 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-17 .close-icon::before,
#menu-17 .close-icon::after {
  background-color: #ffffff;
}
#features1-1g .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-1g .mbr-cards-col:nth-child(odd) .card-title {
  color: #f8a825;
  font-size: 32px;
}
#features1-1g .mbr-cards-col:nth-child(even) .card-title {
  color: #f8a825;
  font-size: 32px;
}
#features1-1g .mbr-cards-col:nth-child(even) .card-text {
  color: #bcbcbc;
}
#features1-1g .mbr-cards-col:nth-child(odd) .card-text {
  color: #bcbcbc;
}
#features1-1f .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-1f .mbr-cards-col:nth-child(odd) .card-title {
  color: #f8a825;
  font-size: 32px;
}
#features1-1f .mbr-cards-col:nth-child(even) .card-title {
  color: #f8a825;
  font-size: 32px;
}
#features1-1f .mbr-cards-col:nth-child(even) .card-text {
  color: #bcbcbc;
}
#features1-1f .mbr-cards-col:nth-child(odd) .card-text {
  color: #bcbcbc;
}
#social-buttons4-1b .mbr-section-title,
#social-buttons4-1b .btn-social {
  color: #fff;
}
#contacts1-1c P {
  color: #c0a375;
}
#msg-box8-1h .mbr-section-title,
#msg-box8-1h p {
  color: #fff;
}
#msg-box8-1h .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-1j .mbr-section-title,
#social-buttons4-1j .btn-social {
  color: #fff;
}
#menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1k .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-1k .navbar-toggler {
  color: #ffffff;
}
#menu-1k .link,
#menu-1k .dropdown-item {
  color: #ffffff;
}
#menu-1k .link {
  font-size: 0.9rem;
}
#menu-1k .dropdown-item,
#menu-1k .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1k .link:hover,
#menu-1k .dropdown-item:hover,
#menu-1k .link:focus,
#menu-1k .dropdown-item:focus {
  color: #c0a375;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-menu {
  background: #141414;
}
#menu-1k .nav-dropdown-sm .link:focus,
#menu-1k .nav-dropdown-sm .link:hover,
#menu-1k .nav-dropdown-sm .dropdown-item:focus,
#menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-1k .navbar,
#menu-1k .nav-dropdown-sm,
#menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-1k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1k .bg-color.transparent.opened .link:hover,
#menu-1k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1k .close-icon::before,
#menu-1k .close-icon::after {
  background-color: #ffffff;
}
#contacts1-1m P {
  color: #c0a375;
}
#msg-box8-1n .mbr-section-title,
#msg-box8-1n p {
  color: #fff;
}
#msg-box8-1n .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-1p .mbr-section-title,
#social-buttons4-1p .btn-social {
  color: #fff;
}
#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-1q .navbar-toggler {
  color: #ffffff;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #ffffff;
}
#menu-1q .link {
  font-size: 0.9rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #141414;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-1q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #ffffff;
}
#contacts1-1s P {
  color: #c0a375;
}
#msg-box8-1t .mbr-section-title,
#msg-box8-1t p {
  color: #fff;
}
#msg-box8-1t .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-1v .mbr-section-title,
#social-buttons4-1v .btn-social {
  color: #fff;
}
#menu-1w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1w .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-1w .navbar-toggler {
  color: #ffffff;
}
#menu-1w .link,
#menu-1w .dropdown-item {
  color: #ffffff;
}
#menu-1w .link {
  font-size: 0.9rem;
}
#menu-1w .dropdown-item,
#menu-1w .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1w .link:hover,
#menu-1w .dropdown-item:hover,
#menu-1w .link:focus,
#menu-1w .dropdown-item:focus {
  color: #c0a375;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-menu {
  background: #141414;
}
#menu-1w .nav-dropdown-sm .link:focus,
#menu-1w .nav-dropdown-sm .link:hover,
#menu-1w .nav-dropdown-sm .dropdown-item:focus,
#menu-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-1w .navbar,
#menu-1w .nav-dropdown-sm,
#menu-1w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1w .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-1w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1w .bg-color.transparent.opened .link:hover,
#menu-1w .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1w .link[aria-expanded="true"],
#menu-1w .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1w .close-icon::before,
#menu-1w .close-icon::after {
  background-color: #ffffff;
}
#contacts1-1y P {
  color: #c0a375;
}
#msg-box8-1z .mbr-section-title,
#msg-box8-1z p {
  color: #fff;
}
#msg-box8-1z .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-21 .mbr-section-title,
#social-buttons4-21 .btn-social {
  color: #fff;
}
#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-22 .navbar-toggler {
  color: #ffffff;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #ffffff;
}
#menu-22 .link {
  font-size: 0.9rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #141414;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-22 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #ffffff;
}
#contacts1-24 P {
  color: #c0a375;
}
#msg-box8-25 .mbr-section-title,
#msg-box8-25 p {
  color: #fff;
}
#msg-box8-25 .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-27 .mbr-section-title,
#social-buttons4-27 .btn-social {
  color: #fff;
}
#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-28 .navbar-toggler {
  color: #ffffff;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #ffffff;
}
#menu-28 .link {
  font-size: 0.9rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #141414;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-28 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #ffffff;
}
#contacts1-2a P {
  color: #c0a375;
}
#msg-box8-2b .mbr-section-title,
#msg-box8-2b p {
  color: #fff;
}
#msg-box8-2b .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-2d .mbr-section-title,
#social-buttons4-2d .btn-social {
  color: #fff;
}
#menu-2e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2e .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-2e .navbar-toggler {
  color: #ffffff;
}
#menu-2e .link,
#menu-2e .dropdown-item {
  color: #ffffff;
}
#menu-2e .link {
  font-size: 0.9rem;
}
#menu-2e .dropdown-item,
#menu-2e .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-2e .link:hover,
#menu-2e .dropdown-item:hover,
#menu-2e .link:focus,
#menu-2e .dropdown-item:focus {
  color: #c0a375;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-menu {
  background: #141414;
}
#menu-2e .nav-dropdown-sm .link:focus,
#menu-2e .nav-dropdown-sm .link:hover,
#menu-2e .nav-dropdown-sm .dropdown-item:focus,
#menu-2e .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-2e .navbar,
#menu-2e .nav-dropdown-sm,
#menu-2e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2e .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-2e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2e .bg-color.transparent.opened .link:hover,
#menu-2e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2e .close-icon::before,
#menu-2e .close-icon::after {
  background-color: #ffffff;
}
#contacts1-2g P {
  color: #c0a375;
}
#msg-box8-2h .mbr-section-title,
#msg-box8-2h p {
  color: #fff;
}
#msg-box8-2h .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-2j .mbr-section-title,
#social-buttons4-2j .btn-social {
  color: #fff;
}
#menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2k .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-2k .navbar-toggler {
  color: #ffffff;
}
#menu-2k .link,
#menu-2k .dropdown-item {
  color: #ffffff;
}
#menu-2k .link {
  font-size: 0.9rem;
}
#menu-2k .dropdown-item,
#menu-2k .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-2k .link:hover,
#menu-2k .dropdown-item:hover,
#menu-2k .link:focus,
#menu-2k .dropdown-item:focus {
  color: #c0a375;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-menu {
  background: #141414;
}
#menu-2k .nav-dropdown-sm .link:focus,
#menu-2k .nav-dropdown-sm .link:hover,
#menu-2k .nav-dropdown-sm .dropdown-item:focus,
#menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-2k .navbar,
#menu-2k .nav-dropdown-sm,
#menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-2k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2k .bg-color.transparent.opened .link:hover,
#menu-2k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2k .close-icon::before,
#menu-2k .close-icon::after {
  background-color: #ffffff;
}
#contacts1-2m P {
  color: #c0a375;
}
#msg-box8-2n .mbr-section-title,
#msg-box8-2n p {
  color: #fff;
}
#msg-box8-2n .mbr-section-title {
  font-size: 46px;
  color: #ffffff;
}
#msg-box8-2n .mbr-section-title I {
  font-size: 36px;
}
#testimonials2-2u .card-footer > div {
  color: #bcbcbc;
}
#menu-2o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2o .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-2o .navbar-toggler {
  color: #ffffff;
}
#menu-2o .link,
#menu-2o .dropdown-item {
  color: #ffffff;
}
#menu-2o .link {
  font-size: 0.9rem;
}
#menu-2o .dropdown-item,
#menu-2o .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-2o .link:hover,
#menu-2o .dropdown-item:hover,
#menu-2o .link:focus,
#menu-2o .dropdown-item:focus {
  color: #c0a375;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-menu {
  background: #141414;
}
#menu-2o .nav-dropdown-sm .link:focus,
#menu-2o .nav-dropdown-sm .link:hover,
#menu-2o .nav-dropdown-sm .dropdown-item:focus,
#menu-2o .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-2o .navbar,
#menu-2o .nav-dropdown-sm,
#menu-2o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2o .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-2o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2o .bg-color.transparent.opened .link:hover,
#menu-2o .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2o .close-icon::before,
#menu-2o .close-icon::after {
  background-color: #ffffff;
}
#social-buttons4-2s .mbr-section-title,
#social-buttons4-2s .btn-social {
  color: #fff;
}
#contacts1-2t P {
  color: #c0a375;
}
#msg-box8-31 .mbr-section-title,
#msg-box8-31 p {
  color: #fff;
}
#msg-box8-31 .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#msg-box5-34 P {
  color: #bcbcbc;
}
#msg-box5-33 P {
  color: #bcbcbc;
}
#msg-box5-35 P {
  color: #bcbcbc;
}
#menu-2x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2x .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-2x .navbar-toggler {
  color: #ffffff;
}
#menu-2x .link,
#menu-2x .dropdown-item {
  color: #ffffff;
}
#menu-2x .link {
  font-size: 0.9rem;
}
#menu-2x .dropdown-item,
#menu-2x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-2x .link:hover,
#menu-2x .dropdown-item:hover,
#menu-2x .link:focus,
#menu-2x .dropdown-item:focus {
  color: #c0a375;
}
#menu-2x .link[aria-expanded="true"],
#menu-2x .dropdown-menu {
  background: #141414;
}
#menu-2x .nav-dropdown-sm .link:focus,
#menu-2x .nav-dropdown-sm .link:hover,
#menu-2x .nav-dropdown-sm .dropdown-item:focus,
#menu-2x .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-2x .navbar,
#menu-2x .nav-dropdown-sm,
#menu-2x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2x .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-2x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2x .bg-color.transparent.opened .link:hover,
#menu-2x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2x .link[aria-expanded="true"],
#menu-2x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2x.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2x .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2x .close-icon::before,
#menu-2x .close-icon::after {
  background-color: #ffffff;
}
#social-buttons4-2z .mbr-section-title,
#social-buttons4-2z .btn-social {
  color: #fff;
}
#contacts1-30 P {
  color: #c0a375;
}
#msg-box8-36 .mbr-section-title,
#msg-box8-36 p {
  color: #fff;
}
#msg-box8-36 .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#msg-box5-37 P {
  color: #bcbcbc;
}
#menu-3a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3a .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-3a .navbar-toggler {
  color: #ffffff;
}
#menu-3a .link,
#menu-3a .dropdown-item {
  color: #ffffff;
}
#menu-3a .link {
  font-size: 0.9rem;
}
#menu-3a .dropdown-item,
#menu-3a .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-3a .link:hover,
#menu-3a .dropdown-item:hover,
#menu-3a .link:focus,
#menu-3a .dropdown-item:focus {
  color: #c0a375;
}
#menu-3a .link[aria-expanded="true"],
#menu-3a .dropdown-menu {
  background: #141414;
}
#menu-3a .nav-dropdown-sm .link:focus,
#menu-3a .nav-dropdown-sm .link:hover,
#menu-3a .nav-dropdown-sm .dropdown-item:focus,
#menu-3a .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-3a .navbar,
#menu-3a .nav-dropdown-sm,
#menu-3a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3a .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-3a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3a .bg-color.transparent.opened .link:hover,
#menu-3a .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3a .link[aria-expanded="true"],
#menu-3a .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3a .close-icon::before,
#menu-3a .close-icon::after {
  background-color: #ffffff;
}
#social-buttons4-3c .mbr-section-title,
#social-buttons4-3c .btn-social {
  color: #fff;
}
#contacts1-3d P {
  color: #c0a375;
}
#msg-box8-3e .mbr-section-title,
#msg-box8-3e p {
  color: #fff;
}
#msg-box8-3e .mbr-section-title {
  font-size: 48px;
  color: #ffffff;
}
#social-buttons4-3g .mbr-section-title,
#social-buttons4-3g .btn-social {
  color: #fff;
}
#menu-3h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3h .navbar-caption {
  color: #ffffff;
  font-size: 16px;
}
#menu-3h .navbar-toggler {
  color: #ffffff;
}
#menu-3h .link,
#menu-3h .dropdown-item {
  color: #ffffff;
}
#menu-3h .link {
  font-size: 0.9rem;
}
#menu-3h .dropdown-item,
#menu-3h .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-3h .link:hover,
#menu-3h .dropdown-item:hover,
#menu-3h .link:focus,
#menu-3h .dropdown-item:focus {
  color: #c0a375;
}
#menu-3h .link[aria-expanded="true"],
#menu-3h .dropdown-menu {
  background: #141414;
}
#menu-3h .nav-dropdown-sm .link:focus,
#menu-3h .nav-dropdown-sm .link:hover,
#menu-3h .nav-dropdown-sm .dropdown-item:focus,
#menu-3h .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#menu-3h .navbar,
#menu-3h .nav-dropdown-sm,
#menu-3h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3h .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#menu-3h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3h .bg-color.transparent.opened .link:hover,
#menu-3h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3h .link[aria-expanded="true"],
#menu-3h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3h .close-icon::before,
#menu-3h .close-icon::after {
  background-color: #ffffff;
}
#contacts1-3j P {
  color: #c0a375;
}
